.grupos-container {
    padding: 16px;
  }
  .section-header {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
  }
  .section-name {
    display: flex;
    flex-direction: column; 
  }

  .title {
    text-align: left;
    margin: 20px 0;
    font-size: 2.5rem; 
  }
  
  .subtitle {
    font-size: 1.2rem; 
    margin: 20px 0; 
  }
  
  .create-group-button {
    margin-bottom: 16px; 
  }
  
  .mat-list-item {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    font-family: "Poppins", sans-serif;
  }

  .custlist {
    background-color: rgba(217, 217, 217, 0.4); 
  }
  