<mat-tab-group class="customTabs">
  <mat-tab disabled label="EZ Alarm">
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">alarm</mat-icon>
      Mis Alarmas
    </ng-template>
    <app-alarms></app-alarms>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">group_work</mat-icon>
      Grupos
    </ng-template>
    <app-groups></app-groups>
  </mat-tab>

  <mat-tab disabled>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">sync</mat-icon>
      Calendarios
    </ng-template>

  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">person</mat-icon>
      Mi Cuenta
    </ng-template>

    <app-account></app-account>
  </mat-tab>
</mat-tab-group>
